/* common css start  */
body {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/* common css end  */

/* header start  */
    header {
        padding: 40px 0;
    }
    .container {
        margin: 0 auto;
        width: 90%;
        /* border: 1px solid red; */
        overflow: hidden;
    }
    .logo {
        float: left;
        width: 13%;
        /* border: 1px solid red; */
    }
    .logo a {}
    .logo a img{
        width: 100%;
    }

    .menu {
        float: right;
        width: 65%;
        /* border: 1px solid red; */
        margin: 11px 0;
    }
    .menu ul{
        float: right;
        margin: 0;
        padding: 0;
    }
    .menu ul li{
        list-style: none;
        float: left;

    }
    .menu ul li a{
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 50px;
        color: #626262;
        transition: .33s linear;
    }
    .menu ul li:last-child a {
        padding-right: 0;
    }
    .menu ul li a:hover {
        color: #000000;
    }

/* header end  */